#board {
    width: 280px;
    min-height: 450px;
    border-radius: 10%;
    padding: 0 20px 20px 20px;
    text-align: center;
    background-color: grey;
    color: white;
}

h1 {
    padding-top: 12px;
}

h2 {
    margin: 8px;
}

table {
    margin: auto;
    border-spacing: 8px;
}

button {
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    background-color: #6e072d;
    border-color: #6e6e6e;
    color: white;
}

.game-square {
    font-size: 50px;
    width: 70px;
    height: 70px;
    vertical-align: top;
}

.game-square:disabled {
    cursor: default;
}

#restart-button {
    display: none;
    font-size: 24px;
    padding: 12px;
    margin: 12px auto;
}
